.album {
  height: auto;
  box-sizing: content-box;
  background-color: $gallery-color;
  border: 10px solid $gallery-color;
  border-right: none;

  @import "albums";
  @import "images";
  @import "pager";

  .images-ct  {
    height: ($gallery-height - 40px);
  }

  .row.filter {
    padding-bottom: 5px;
  }
}

